.about-container{
    margin: 5vw auto 0;
    font-family: 'Work Sans', sans-serif;
    padding: 18px;
    font-weight: 500;
    color: $color6;
    // background: $mockup-color;

    max-width: 1200px;
    height: 600px;
}