@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

:root {
    --color-orange: #e69807;
    --color-parda: #9c9876;
    --color-black: black;
    --color-symbol: rgb(136, 124, 124);
    --color-green-dark: #b3da49;
    --color-green: #eefcc877;
}

*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    /* background: #3c415a; */
    background-color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--color-black);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    background-color: #fff;

    /* border-bottom: 1px solid rgba(0, 0, 0, 0.185); */

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.11);


    width: 100%;
    position: fixed;
    z-index: 1;

    height: 77px;
}

header .links {
    text-align: right;
}

header .symbol a,
footer .symbol a {
    font-size: 25px;
    font-family: 'RocknRoll One', sans-serif;
    color: var(--color-symbol);
    text-decoration: none;

    position: relative;
}

header .symbol img {
    height: 20px;
    width: 20px;

    position: absolute;

    top: 30px;
}

.links {
    text-align: center;
}

.links a {
    color: rgb(31, 20, 20);
    font-size: 18px;
    line-height: 32px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover {
    color: var(--color-symbol);
    transition: color 300ms;

    text-decoration: underline var(--color-green-dark);
}

.hello {
    height: 450px;

    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D1017;

    position: relative;
}

.wrapper {
    display: flex;
    
    text-align: center;
    align-items: center;

    position: absolute;
    flex-direction: column;
    width: 100%;
    bottom: 60px;
}

.wrapper h1 {
    font-family: 'RocknRoll One', sans-serif;
    color: var(--color-symbol);   
}

.wrapper h3 {
    font-family: 'RocknRoll One', sans-serif;
    color: var(--color-black);
    font-weight: 400;   
}

.wrapper img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border: 4px var(--color-green-dark) solid;
    margin-bottom: 8px;
}

.about {
    display: flex;

    height: 150px;
    margin-top: 295px;
    
    /* background-color: #e7ffeeea; */

    /* background-color: #abc07377; */
    
    background-color: var(--color-green);


    /* background-color: #ecf7fe; */

    align-items: center;
    justify-content: center;
}

.about .title{
    width: 150px;
}

.about .informations {
    width: 690px;
    color: rgb(51, 45, 45);
    text-align: justify;
}

.tech {
    height: 350px;

    padding: 40px;
}

.tech h1 {
    text-align: center;
    margin-bottom: 55px;
}


.pilha {
    display: flex;
    border: 5px solid #27d54465;

    height: 30px;
    width: 377px;
}

.status-pilha {
    border: 1px solid black;

    height: 20px;
    width: 15px;

    align-self: center;
    padding-left: 20px;
    margin-right: 1px;
}

.contact {
    display: flex;
    background-color: var(--color-green);

    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 50px;
}

.fab.fa-whatsapp{
    font-weight: bolder;
}

.contact h2 {
    padding: 50px 0;
}

.card {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;

    background-color:#fff;
    height: 300px;
    width: 400px;

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.11);
}

.card i {
    color: var(--color-green-dark);
}

.card h2 {
    color: var(--color-green-dark);
    padding: 25px 0 0;

    font-weight: 500;
}

.card h3 {
    font-weight: 400;
    font-size: 16px;
}

.contact .card .one {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;

    padding-left: 40px;
}

.card .one h2 {
    padding-top: 0;
}

.contact .card a:hover i{
    color: var(--color-symbol);
}

.card-links {
    display: flex;
    
    height: 145px;

    width: 100%;
    align-items: center;
    justify-content: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-links a {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-green-dark);

    margin: 0 10px;
    
    border-radius: 50%;
    height: 30px;
    width: 30px;

    text-decoration: none;
}

.card-links a:hover {
    transform: translateY(-4px);
}

.card-links i {
    color: var(--color-black);
    font-size: 18px;

    font-weight: normal;
}

.links a img {
    width: 20px;

    background-color: var(--color-green-dark);
    border-radius: 50%;
    margin: 20px;
}

.links a img:hover {
    background-color: var(--color-symbol);
    transition: color 300ms;
    border-radius: 50%;
}


footer{
    display: flex;
    
    position: absolute;
    width: 100%;
    background-color: var(--color-green);

    padding: 30px 0;
}


footer .symbol {
    padding: 15px 0;
    margin: 0 auto;
}

footer .symbol img {
    height: 20px;
    width: 20px;

    position: absolute;

    bottom: 63px;
}

footer p {
    font-size: 10px;
    font-family: 'RocknRoll One', sans-serif;
    color: var(--color-symbol);  
}

footer .symbol a {
    font-size: 18px;
}


